/*Splash Config*/
.container-splash {
  margin: auto;
  width: 40%;
}

/*for icons not in fa*/
.meicn {
  width: 16px;
  height: 16px;
}

/*Control Panel in the Main*/
.control {
  display: block;
  margin: auto;
  width: 40%;
}


/*######Sticky Footer######s*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
