<footer class="site-footer">
  <script src="https://use.fontawesome.com/67f4971fe0.js"></script>
<link rel="stylesheet" href="/css/cust.css">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading" style="color: black">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li>Ben Franzi 2016</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><img src="res/gist.png" class="meicn"/> Gist</li>
          <li><i class="fa fa-github fa-2" aria-hidden="true"></i> GitHub</li>
          <li><i class="fa fa-stack-overflow fa-2" aria-hidden="true"></i> Stack Overflow</li>
          <li><i class="fa fa-linkedin fa-2" aria-hidden="true"></i> LinkedIn</li>
          <li><i class="fa fa-instagram fa-2" aria-hidden="true"></i> Instagram</li>
          <li><i class="fa fa-twitter fa-2" aria-hidden="true"></i> Twitter</li>
        </ul>
      </div>
  </div>
</footer>
