<!--
  Gist - https://gist.github.com/BenFranzi
  GitHub - https://github.com/BenFranzi
  LinkedIn - https://au.linkedin.com/in/benjamin-franzi-0a392a11b
  Stack Overflow - http://stackoverflow.com/users/6778830/ben-franzi
  instagram - https://www.instagram.com/benfranzi/
  Twitter - https://twitter.com/benjaminfranzi
-->

<ul class="contact-list">
  <li><a href="https://www.github.com/BenFranzi"><i class="fa fa-github fa-2" aria-hidden="true"></i> GitHub</a> - <a href="https://gist.github.com/BenFranzi">Gist</a></li>
  <a href="https://au.linkedin.com/in/benjamin-franzi-0a392a11b"><li><i class="fa fa-linkedin fa-2" aria-hidden="true"></i> LinkedIn</li></a>
  <a href="http://stackoverflow.com/users/6778830/ben-franzi"><li><i class="fa fa-stack-overflow fa-2" aria-hidden="true"></i> Stack Overflow</li></a>
  <a href="https://www.instagram.com/benfranzi/"><li><i class="fa fa-instagram fa-2" aria-hidden="true"></i> Instagram</li></a>
  <a href="https://twitter.com/benjaminfranzi"><li><i class="fa fa-twitter fa-2" aria-hidden="true"></i> Twitter</li></a>
</ul>
